<html th:replace="~{layout/base:: html}">
<head>
    <!-- CSS específico de esta vista -->
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/home/estadisticas.css}">
    </th:block>
</head>

<div class="row" th:fragment="contenido">
    <h1>Estadisticas</h1>
    <section class="estadisticas">
        <section class="card">
            <h2>Provincias con mayor cantidad de hechos en colección</h2>
            <div class="form-row">
                <label for="coleccion">Elegir Colección:</label>
                <select class="input" id="coleccion">
                    <option>Seguridad</option>
                    <option>Tránsito</option>
                    <option>Clima</option>
                </select>
            </div>
            <div class="stats-grid">
                <div><span class="big-number max">120</span>
                    <p>Buenos Aires</p></div>
            </div>
        </section>

        <section class="card">
            <h2>Categorías con mayor cantidad de hechos</h2>
            <div class="stats-grid">
                <div><span class="big-number max">300</span>
                    <p>Accidentes</p></div>
            </div>
        </section>

        <section class="card">
            <h2>Provincias con mayor cantidad de hechos en Categoría</h2>
            <div class="form-row">
                <label for="categoria-prov">Elegir Categoría:</label>
                <select class="input" id="categoria-prov">
                    <option>Accidentes</option>
                    <option>Inundaciones</option>
                    <option>Cortes de luz</option>
                </select>
            </div>
            <div class="stats-grid">
                <div><span class="big-number max">180</span>
                    <p>Mendoza</p></div>
        </section>

        <section class="card">
            <h2>Hora de mayor incidencia de Hechos en Categoría</h2>
            <div class="form-row">
                <label for="categoria-hora">Elegir Categoría:</label>
                <select class="input" id="categoria-hora">
                    <option>Accidentes</option>
                    <option>Inundaciones</option>
                    <option>Cortes de luz</option>
                </select>
            </div>
            <div class="stats-grid">
                <div><span class="big-number max">60</span>
                    <p>08:00</p></div>
            </div>
        </section>

        <section class="card">
            <h2>Solicitud de Eliminación</h2>
            <div class="stats-grid">
                <div><span class="big-number min">15</span>
                    <p>Spam</p></div>
            </div>
        </section>

        <section class="card">
            <h2>Exportar estadisticas</h2>
            <div class="stats-grid">
                <button class="btn btn-primary">Exportar</button>
            </div>
        </section>
    </section>

    <th:block th:fragment="scripts">
        <script th:src="@{/js/home/estadisticas.js}"></script>
    </th:block>

</div>
</html>