<html th:replace="~{layout/base:: html}">
<head>
    <!-- CSS específico de esta vista -->
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/home/explorador.css}">
        <link rel="stylesheet" th:href="@{/webjars/leaflet/dist/leaflet.css}">
    </th:block>
</head>

<div class="row" th:fragment="contenido">
    <h1>Explorar Hechos</h1>

    <div class="layout">
        <aside class="filters">
            <h2>Filtros</h2>

            <label for="fecha-desde">Fecha desde:</label>
            <input class="input" id="fecha-desde" name="fechaAcontecimientoDesde" type="date">

            <label for="fecha-hasta">Fecha hasta:</label>
            <input class="input" id="fecha-hasta" name="fechaAcontecimientoHasta" type="date">

            <label for="categoria">Categoría</label>
            <select class="input" id="categoria" name="idCategoria"> <option value="">-- Todas --</option>
                <option th:each="cat : ${categorias}"
                        th:value="${cat.id}"
                        th:text="${cat.categoria}">
                </option>
            </select>

            <label for="provincia">Provincia:</label>
            <select class="input" id="provincia" name="provincia"> <option value="">-- Todas --</option>
                <option th:each="prov : ${provincias}"
                        th:value="${prov}"
                        th:text="${prov}">
                </option>
            </select>

            <label for="coleccion">Coleccion:</label>
            <select class="input" id="coleccion" name="idColeccion"> <option value="">-- Ninguna --</option>
                <option value="">-- Seleccione --</option>
                <option>Protesta</option>
                <option>Ambiental</option>
                <option>Social</option>
                <option>Ayuda Humanitaria</option>
            </select>

            <label>
                Modo curado
                <input type="checkbox">
            </label>

            <button class="btn btn-primary" id="btn-filtrar" type="button">Filtrar</button>
        </aside>

        <main class="mapa">
            <div id="map"></div>
        </main>
    </div>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
        <script th:src="@{/js/home/explorador.js}"></script>
    </th:block>
</div>
</html>