<html th:replace="~{layout/base:: html}">
<head>
    <!-- CSS específico de esta vista -->
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/home/inicioSesion.css}">
    </th:block>
</head>
<div class="row" th:fragment="contenido">
    <section id="login-page">
        <div class="container" style="max-width: 500px;">
            <div class="card">
                <h2>Iniciar Sesión</h2>

                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">Nombre de Usuario</label>
                        <input class="form-control" id="username" name="username" placeholder="nombre de usuario" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input class="form-control" id="password" name="password" required type="password">
                    </div>
                    <button class="btn btn-primary" style="width: 100%;" type="submit">Acceder</button>
                </form>
                <p style="text-align: center; margin-top: 1rem;", sec:authorize="!isAuthenticated()">
                    ¿No tienes cuenta? <a class="btn-link" th:href="@{/registro}">Regístrate</a>
                </p>

                <div th:if="${param.error}" class="alert alert-danger mt-3">
                    Usuario o contraseña incorrectos
                </div>
            </div>
        </div>
    </section>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
        <script th:src="@{/js/home/inicioSesion.js}"></script>
    </th:block>
</div>
</html>