<html th:replace="~{layout/base:: html}">
<head>
    <!-- CSS específico de esta vista -->
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/home/inicioSesion.css}">
    </th:block>
</head>
<div class="row" th:fragment="contenido">
    <section id="login-page">
        <div class="container" style="max-width: 500px;">
            <div class="card">
                <h2>Iniciar Sesión</h2>
                <form id="login-form">
                    <div class="form-group">
                        <label for="login-email">Correo Electrónico</label>
                        <input class="form-control" id="login-email" placeholder="usuario@ejemplo.com" required
                               type="email">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Contraseña</label>
                        <input class="form-control" id="login-password" required type="password">
                    </div>
                    <button class="btn btn-primary" style="width: 100%;" type="submit">Acceder</button>
                </form>
                <p style="text-align: center; margin-top: 1rem;">
                    ¿No tienes cuenta? <a class="btn-link" th:href="@{/registro}">Regístrate</a>
                </p>
            </div>
        </div>
    </section>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
        <script th:src="@{/js/home/inicioSesion.js}"></script>
    </th:block>
</div>
</html>