<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Gestion - MetaMapa</title>
  <link rel="stylesheet" href="../../static/css/panelGestionAdmin.css">
</head>

<body>

    <!-- HEADER -->
    <header class="main-header">
      <a href="landing.html" class="logo">MetaMapa</a>
      <button class="menu-toggle" id="menu-toggle">☰</button>
      <nav class="main-nav" id="main-nav">
        <ul>
		<li><a href="../colecciones/colecciones.html" class="btn btn-secondary">Colecciones</a></li>
		<li><a href="explorador.html" class="btn btn-secondary">Explorar</a></li>
		<li><a href="../hechos/crearHechoContribuyente.html" class="btn btn-secondary">Crear hecho</a></li>
		<li><a href="panelGestionAdmin.html" class="btn btn-secondary">Gestionar</a></li>
		<li><a href="../hechos/misHechos.html" class="btn btn-secondary">Mis hechos</a></li>
     	<li>
			<a href="inicioSesion.html" class="btn btn-primary">Iniciar Sesión</a>
	    </li>
        </ul>
      </nav>
    </header>

  <main>
    <h1>Moderar contenido:</h1>
    <div class="grid">

	  <a href="../solicitudes/gestionSolicitudesAdmin.html" class="card">
        <div class="card-header"><span class="card-title">Gestionar solicitudes de eliminación</span></div>
      </a>

      <a href="../hechos/gestionHechosAdmin.html" class="card">
        <div class="card-header"><span class="card-title">Gestionar hechos pendientes</span></div>
	  </a>
	  
	  <a href="../colecciones/gestionColeccionesAdmin.html" class="card">
        <div class="card-header"><span class="card-title">Gestionar colecciones</span></div>
      </a>
	  
	  <div class="upload-box">
		<label>Subir hechos</label>
		<input type="file" id="multimedia">
		<button type="submit" class="btn btn-primary">Subir</button>
	  </div>
	  
  </main>


  <footer class="main-footer">
        <p>&copy; 2025 MetaMapa. Todos los derechos reservados.</p>
        <div>
            <a href="#">Política de Privacidad</a>
            <a href="#">Contacto</a>
        </div>
    </footer>

  <script src="../../static/js/panelGestionAdmin.js"></script>
</body>
</html>