<html th:replace="~{layout/base::html}">

<head>
    <!-- CSS específico de esta vista -->
    <th:block th:fragment="styles">
        <link th:href="@{/css/hechos/hecho.css}" rel="stylesheet">
    </th:block>
</head>

<div th:fragment="contenido">

    <main class="hecho-container">
        <div class="hecho-card">
            <div class="hecho-meta">

                <!-- TODO FALTA AGREGAR: and hecho.autor.username == #authentication.name}"-->
                <a th:if="${hecho.estado.name() != 'RECHAZADO'}"
                   th:href="@{/hechos/{id}/editar(id=${hecho.id})}"
                   class="btn btn-editar">Editar</a>

                <span class="hecho-fecha"
                      th:text="${#temporals.format(hecho.fechaAcontecimiento, 'dd/MM/yyyy')}"></span>
            </div>
            <div class="hecho-header">
                <h1 class="hecho-titulo" th:text="${hecho.titulo}">Título del hecho</h1>
            </div>

            <img class="hecho-imagen"
                 th:src="${hecho.contenidoMultimedia != null and !hecho.contenidoMultimedia.isEmpty()} ? 'http://localhost:8082' + ${hecho.contenidoMultimedia[0].url} : @{/img/metamapa.jpg}"
                 alt="Imagen del hecho">

            <div class="hecho-meta-info">
                <p class="hecho-autor"><strong>Autor:</strong> Juan Pérez
                <!--<span th:text="${hecho.autor.nombre}"></span>-->
                </p>
                <div sec:authorize="hasRole('ADMINISTRADOR')">
                    <p class="hecho-gestionado">
                        <strong>Gestionado por:</strong>
                        <span th:text="${hecho.gestionadoPor != null ? hecho.gestionadoPor : 'No asignado'}">
                            Admin X
                        </span>
                    </p>
                    <p class="hecho-fecha-carga">
                        <strong>Fecha de carga:</strong>
                        <span th:text="${#temporals.format(hecho.fechaCarga, 'dd/MM/yyyy HH:mm')}">
                            01/08/2025 15:00
                        </span>
                    </p>
                    <p th:if="${hecho.fechaActualizacion != null}" class="hecho-fecha-actualizacion">
                        <strong>Última actualización:</strong>
                        <span th:text="${#temporals.format(hecho.fechaActualizacion, 'dd/MM/yyyy HH:mm')}">
                            03/08/2025 10:30
                        </span>
                    </p>
                </div>

                <span class="hecho-categoria" th:text="${hecho.categoria}">Categoría</span>
            </div>

            <p class="hecho-descripcion" th:text="${hecho.descripcion}"></p>

            <p class="hecho-estado" sec:authorize="hasRole('ADMINISTRADOR')">
                <strong>Estado:</strong>
                <span th:class="'badge badge-' + ${hecho.estado.name()}"
                      th:text="${hecho.estado}">PENDIENTE</span>
            </p>

            <div class="hecho-footer">
                <div class="hecho-botones">
                    <a href="#" onclick="history.back()" class="btn btn-volver">Volver</a>

                    <a th:href="@{/solicitudes//nueva(hechoId=${hecho.id})}" class="btn btn-danger">Solicitud de eliminación</a>

                    <div sec:authorize="hasRole('ADMINISTRADOR')"
                         th:if="${hecho.estado.name() == 'PENDIENTE'}">

                        <form th:action="@{/hechos/{id}/rechazar(id=${hecho.id})}"
                              method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Rechazar</button>
                        </form>

                        <form th:action="@{/hechos/{id}/aceptar(id=${hecho.id})}"
                              method="post" style="display: inline;">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </form>
                    </div>

                    <a th:href="@{/hechos/explorador(idHecho=${hecho.id})}" class="btn btn-primary">Ver en mapa</a>
                </div>
            </div>
        </div>
    </main>


    <th:block th:fragment="scripts">
        <script th:src="@{/js/hechos/gestionHecho.js}"></script>
    </th:block>

</div>
</html>