<html th:replace="~{layout/base:: html}">
<head>
  <th:block th:fragment="styles">
    <link th:href="@{/css/solicitudes/panelSolicitudAdmin.css}" rel="stylesheet">
  </th:block>
</head>

<div th:fragment="contenido" class="row">
  <div class="container">
    <h1>Detalle de Solicitud</h1>

    <div class="grid-detalle">
      <!-- Solicitud -->
      <section class="card">
        <h2>Solicitud</h2>
        <p><strong>Fecha de creación:</strong> 01/09/2025</p>
        <p><strong>Fecha de evaluación:</strong> 05/09/2025</p>
        <p><strong>Autor:</strong> Juan Pérez</p>
        <p><strong>Gestionado por:</strong> Ramiro Verga</p>

        <h3>Descripción</h3>
        <div class="textarea">La informacion prevista es erronea, el incendio fue causado durente los destejos del UUD, no UPD.</div>

        <div class="actions">
          <button class="btn btn-primary">Aceptar</button>
          <button class="btn btn-danger">Rechazar</button>
          <a th:href="@{/solicitudes/gestion}" class="btn btn-secondary">Volver</a>
        </div>
      </section>

      <!-- Hecho -->
      <section class="card">
        <h2>Hecho: "Incendio en Chascomús"</h2>
        <p><strong>Fecha del acontecimiento:</strong> 15/07/2025</p>
        <p><strong>Autor:</strong> Juan Pérez</p>
        <p><strong>Gestionado por:</strong> Nicolas Tuma Ma</p>

        <h3>Descripción</h3>
        <div class="textarea">Se incendió una escuela durante festejos de UPD, dejando pérdidas materiales importantes.</div>

        <h3>Multimedia</h3>
        <img class="card-img" src="https://picsum.photos/400/200?random=2" alt="hecho">

      </section>
    </div>
  </div>

  <th:block th:fragment="scripts">
    <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
    <script th:src="@{/js/solicitudes/gestionSolicitudes.js}"></script>
  </th:block>

</div>
</html>
