<html th:replace="~{layout/base:: html}">
<head>
  <th:block th:fragment="styles">
    <link th:href="@{/css/solicitudes/solicitudEliminacion.css}" rel="stylesheet">
  </th:block>
</head>
<div th:fragment="contenido" class="row">
<section class="form-container">
    <h1>Solicitud de Eliminacion </h1>

	<h2 for="descripcion">Descripción</h2>
    <form action="#" method="POST" class="form">
      <div>
        <textarea id="descripcion" rows="4" placeholder="Escriba una descripción del hecho"></textarea>
      </div>


      <div class="submit-container">
	    <a href="../home/explorador.html" class="btn btn-secondary">Volver</a>
        <button type="submit">Crear</button>
      </div>
    </form>
</section>
  <th:block th:fragment="scripts">
   <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
    <script th:src="@{/js/solicitudes/solicitudEliminacion.js}"></script>
  </th:block>
</div>
</html>
