<html th:replace="~{layout/base:: html}">
<head>
    <th:block th:fragment="styles">
        <link th:href="@{/css/colecciones/coleccionesSistema.css}" rel="stylesheet">
    </th:block>
</head>

<div th:fragment="contenido" class="row">
    <h1>Colecciones disponibles:</h1>
    <div class="grid">

      <div class="card">
        <div class="card-header"><span class="card-title">Protestas Sociales</span></div>
        <div class="card-details"><p class="card-description">Colección de hechos relacionados con manifestaciones, huelgas y movimientos sociales.</p></div>
        <div class="card-footer"><a href="../hechos/listaHechosColeccion.html" class="btn btn-outline">Ver Coleccion</a></div>
      </div>

      <div class="card">
        <div class="card-header"><span class="card-title">Eventos Ambientales</span></div>
        <div class="card-details"><p class="card-description">Sucesos que impactan al medio ambiente: incendios, inundaciones y acciones de conservación.</p></div>
        <div class="card-footer"><a href="../hechos/listaHechosColeccion.html" class="btn btn-outline">Ver Coleccion</a></div>
      </div>

      <div class="card">
        <div class="card-header"><span class="card-title">Ayuda Humanitaria</span></div>
        <div class="card-details"><p class="card-description">Colección sobre distribución de recursos, campañas de ayuda y asistencia comunitaria.</p></div>
        <div class="card-footer"><a href="../hechos/listaHechosColeccion.html" class="btn btn-outline">Ver Coleccion</a></div>
      </div>
    </div>


  <nav class="pagination" aria-label="Paginación">
	<a href="#" class="page-link">&laquo;</a>
	<a href="#" class="page-link active">1</a>
	<a href="#" class="page-link">2</a>
	<a href="#" class="page-link">3</a>
	<a href="#" class="page-link">4</a>
	<span class="page-link-ellipsis">...</span>
	<a href="#" class="page-link">&raquo;</a>
  </nav>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
        <script th:src="@{/js/colecciones/coleccionesSistema.js}"></script>
    </th:block>
</div>
</html>