<html th:replace="~{layout/base:: html}">

<head>
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/colecciones/crearColecciones.css}">
    </th:block>
</head>

<div class="row" th:fragment="contenido">

    <main class="container-modificacion">
        <h2>Crear colección</h2>

        <form class="coleccion-form">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input id="titulo" placeholder="Texto" type="text">
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input id="descripcion" placeholder="Texto" type="text">
            </div>

            <div class="form-group">
                <label for="consenso">Consenso</label>
                <select id="consenso">
                    <option value="">Seleccione...</option>
                    <option value="alto">Absoluta</option>
                    <option value="medio">Mayoria simple</option>
                    <option value="bajo">Multiples menciones</option>
                </select>
            </div>

            <fieldset class="criterios">
                <legend>Criterios de pertenencia</legend>

                <div class="form-grid">
                    <div class="form-group">
                        <label for="fecha-desde">Fecha acontecimiento desde</label>
                        <input id="fecha-desde" type="date">
                    </div>
                    <div class="form-group">
                        <label for="fecha-hasta">Fecha acontecimiento hasta</label>
                        <input id="fecha-hasta" type="date">
                    </div>
                </div>

                <div class="form-group">
                    <label for="consenso">Consenso</label>
                    <select id="consenso">
                        <option value="">Seleccione...</option>
                        <option value="alto">Absoluta</option>
                        <option value="medio">Mayoria simple</option>
                        <option value="bajo">Multiples menciones</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <input id="provincia" placeholder="Texto" type="text">
                </div>

            </fieldset>

            <label>Fuentes</label>
            <div class="custom-multiselect">
                <label><input name="fuentes[]" type="checkbox" value="medios"> Medios de comunicación</label>
                <label><input name="fuentes[]" type="checkbox" value="ongs"> ONGs</label>
                <label><input name="fuentes[]" type="checkbox" value="ciudadanos"> Ciudadanos</label>
            </div>

            <div class="form-actions">
                <a class="btn btn-secondary" href=#>Volver</a>


                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
        </form>
    </main>

    <th:block th:fragment="scripts">
        <script th:src="@{/js/colecciones/crearColecciones.js}"></script>
    </th:block>

</div>
</html>