<html th:replace="~{layout/base:: html}">
<head>
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/colecciones/coleccionesSistema.css}">
    </th:block>
</head>

<div class="row" th:fragment="contenido">
    <h1>Colecciones disponibles:</h1>
    <div class="grid">

        <div class="card">
            <div class="card-header"><span class="card-title">Protestas Sociales</span></div>
            <div class="card-details"><p class="card-description">Colección de hechos relacionados con manifestaciones,
                huelgas y movimientos sociales.</p></div>
            <div class="card-footer"><a class="btn btn-outline" th:href="@{/hechos/lista_hechos_coleccion}">Ver
                Coleccion</a></div>
        </div>

        <div class="card">
            <div class="card-header"><span class="card-title">Eventos Ambientales</span></div>
            <div class="card-details"><p class="card-description">Sucesos que impactan al medio ambiente: incendios,
                inundaciones y acciones de conservación.</p></div>
            <div class="card-footer"><a class="btn btn-outline" th:href="@{/hechos/lista_hechos_coleccion}">Ver
                Coleccion</a></div>
        </div>

        <div class="card">
            <div class="card-header"><span class="card-title">Ayuda Humanitaria</span></div>
            <div class="card-details"><p class="card-description">Colección sobre distribución de recursos, campañas de
                ayuda y asistencia comunitaria.</p></div>
            <div class="card-footer"><a class="btn btn-outline" th:href="@{/hechos/lista_hechos_coleccion}">Ver
                Coleccion</a></div>
        </div>
    </div>


    <nav aria-label="Paginación" class="pagination">
        <a class="page-link" href="#">&laquo;</a>
        <a class="page-link active" href="#">1</a>
        <a class="page-link" href="#">2</a>
        <a class="page-link" href="#">3</a>
        <a class="page-link" href="#">4</a>
        <span class="page-link-ellipsis">...</span>
        <a class="page-link" href="#">&raquo;</a>
    </nav>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/leaflet/dist/leaflet.js}"></script>
        <script th:src="@{/js/colecciones/coleccionesSistema.js}"></script>
    </th:block>
</div>
</html>