<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMapa - Landing Page</title>
    <link th:href="@{/css/landing.css}" rel="stylesheet">
</head>

<body>
<!-- HEADER -->
<header class="main-header">
    <a href="landing.html" class="logo">MetaMapa</a>
    <button class="menu-toggle" id="menu-toggle">☰</button>
    <nav class="main-nav" id="main-nav">
        <ul>
            <li><a href="colecciones.html" class="btn btn-secondary">Colecciones</a></li>
            <li><a href="explorador.html" class="btn btn-secondary">Explorar</a></li>
            <li><a href="crearHechoContribuyente.html" class="btn btn-secondary">Crear hecho</a></li>
            <li><a href="panelGestionAdmin.html" class="btn btn-secondary">Gestionar</a></li>
            <li><a href="misHechos.html" class="btn btn-secondary">Mis hechos</a></li>
            <li>
                <a href="inicioSesion.html" class="btn btn-primary">Iniciar Sesión</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Contenido principal -->
<main class="container my-4 flex-grow-1">
    <div th:replace=":: contenido"></div>
</main>

<!-- FOOTER  -->
<footer class="main-footer">
    <p>&copy; 2025 MetaMapa. Todos los derechos reservados.</p>
    <div>
        <a href="#">Política de Privacidad</a>
        <a href="#">Contacto</a>
    </div>
</footer>

<script src="../static/js/landing.js"></script>

</body>
</html>